div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url(../_imagens/radio-tv.png) no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 579px;
    top: 500px;
    width: 280px;
    height: 30px;
}
video#filme {
    display: block;
    position: relative;
    left:88px;
    top: 90px;
    width: 440px;
}